<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menú</title>
</head>
<body>
 <h1>Menú</h1>
 <ul>
   <li><a href="/factorial?num=5">Factorial</a></li>
   <li><a href="/añoBisiesto?num=2020">¿Año Bisiesto?</a></li>
   <li><a href="/parImpar?num=2">Par O impar</a></li>
   <li><a href="/mes?num=4">Mes</a></li>
   <li><a href="/mes2?num=8">Mes Switch</a></li>
   <li><a href="/nota?num=8">Nota del Alumno</a></li>
   <li><a href="/secuencia1?num=80">Secuencia 1</a></li>
   <li><a href="/secuencia2?num=0">Secuencia 2</a></li>
   <li><a href="/secuencia3?num=320">Secuencia 3</a></li>
   <li><a href="/secuencia4?num=320">Secuencia 4</a></li>
   <li><a href="/secuencia5?num=320">Secuencia 5</a></li>
 </ul>
</body>
</html>