<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>¿Par o Impar?</title>
</head>
<body>
  <h1>¿Par o Impar?</h1>
  <h2>El primer numero es <span th:text ="${par1}"></span></h2>
  <h2>El segundo numero es <span th:text ="${par2}"></span></h2>
  <h2>El tercer numero es <span th:text ="${par3}"></span></h2>
  <h2>El cuarto numero es <span th:text ="${par4}"></span></h2>
  <h2>El quinto numero es <span th:text ="${par5}"></span></h2>
  <a href="index">Volver al menu</a>
</body>
</html>